@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Overpass:wght@400;700&display=swap');

* {
  margin: 0;
}
main {
  background-color: hsl(216, 2%, 2%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Overpass;
}

.card {
  width: 16rem;
  background-color: #1F252F;
  padding: 1.3rem;
  border-radius: 1rem;
}

.star {
  background-color: hsl(213, 19%, 18%);
  display: inline-block;
  padding: 0.5rem;
  border-radius: 50%;
  margin-bottom: .9rem;
}

.star img {
  width: .9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: .6rem;
}

.text {
  color: hsl(217, 12%, 63%);
  font-weight: 400;
  font-size: 11px;
  line-height: 1rem;
}

.form-container {
  display: flex;
  justify-content: space-between;
  margin: 1.9rem 0;
}
/* .buttons {
  display: flex;
  justify-content: space-between;
} */

fieldset {
  display: none;
}

input[type='radio'] {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
}

input[type='radio'] + label {
  background-color: hsl(213, 19%, 18%);
  padding: .69rem .9rem;
  border-radius: 3.5rem;
  cursor: pointer;
  transition: .3s;
}

input[type="radio"]+label:is(:hover, :focus-visible) {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

input[type="radio"]:focus+label {
  background: hsl(217, 12%, 63%);
  color: white;
}

.submit-button {
  background-color: hsl(25, 97%, 53%);
  color: white;
  font-size: 8px;
  border: none;
  display:block;
  width: 100%;
  padding: .6rem;
  border-radius: 2rem;
  font-family: Overpass;
  letter-spacing: .06rem;
  cursor: pointer;
  transition: .6s;
}

.submit-button:hover {
  color: hsl(25, 97%, 53%);
  background-color: white;
}

.active {
  background-color: hsl(217, 12%, 63%);
  color: white;
}

/* Modal */

.modal {
  display: none;
  position: absolute;
  text-align: center;
}

.image-card {
  display: flex;
  justify-content: center;
  margin: 1rem
}

.image-card img {
  width: 6rem;
}

.modal-rating {
  background-color: hsl(213, 19%, 18%);
  color: hsl(25, 97%, 53%);
  font-size: 9px;
  padding: .4rem 1rem;
  margin: 0 auto 1.4rem;
  border-radius: 1rem;
  opacity: .8;
  display: inline-block;
  text-align: center;
}

.modal-rating p {
  font-size: 9px;
}
 .center {
  text-align: center;
 }
@media screen and (max-width: 375px) {
  .card {
    width: 80%;
    padding: 1.5rem;
  }
  .btn {
    width: 2.5rem;
    height: 2.5rem;
  }
  .submit-button{
    font-size: 12px;
    padding: .6rem;
  }
  .title {
    font-size: 20px;
    margin-bottom: 1rem;
  }
  .text {
    font-size: 13px;
    line-height: 1.3rem;
    margin-bottom: .5rem;
  }

}
